@model AppWork.Models.Programist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Programist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Managers)
    </dt>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Proekt Title</th>
                <th>Number of Workers</th>
            </tr>
            @foreach (var item in Model.Managers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proekt.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proekt.NumberOfWorkers)
                    </td>
                </tr>
            }
        </table>
    </dd>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
